li {
    margin: 20pt 0;
}

table {
  border-collapse: collapse;
}

th, td {
  /* border: 1px solid #666; */
  padding: 0 10px;
}

.col-hyphen {
  padding: 0 0px;
}

.items dt::before {
  content: "・";
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 20pt;
}