ul {
  /* Prevents bullets from shifting upward on mobile */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

li {
  margin: 20pt 0;
}



table {
  border-collapse: collapse;
}

th, td {
  /* border: 1px solid #666; */
  padding: 0 10px;
}

.col-endash {
  padding: 0 0px;
}



dt {
    font-weight: bold;
}

.items dt::before {
  content: "・";
}

dd {
    margin-bottom: 20pt;
}
